# Do not ignore Percolation files
percolation/*
!percolation/Percolation.java
!percolation/PercolationStats.java

# Do not ignore Queues files
queues/*
!queues/Deque.java
!queues/RandomizedQueue.java
!queues/Permutation.javai

# Do not ignore Collinear files
collinear/*
!collinear/Point.java
!collinear/BruteCollinearPoints.java
