# Do not ignore Percolation files
percolation/*
!percolation/Percolation.java
!percolation/PercolationStats.java

# Do not ignore Queues files
queues/*
!queues/Deque.java
!queues/RandomizedQueue.java
!queues/Permutation.javai

# Do not ignore Collinear files
collinear/*
!collinear/Point.java
!collinear/BruteCollinearPoints.java
!collinear/FastCollinearPoints.java

# Do not ignore Puzzle files
puzzle/*
!puzzle/Board.java
!puzzle/Solver.java

# Do not ignore Kd-Tree files
kd-tree/*
!kd-tree/PointSET.java
!kd-tree/KdTree.java
!kd-tree/KdTreeVisualizer.java
!kd-tree/RangeSearchVisualizer.java
!kd-tree/NearestNeighborVisualizer.java
